body {
    font-size: larger;
    display: grid;
    place-items: center;
}

#opc-1 {
    color: white;
}

#opc-2 {
    color: violet;
}

#opc-3 {
    color: pink;
}

select {
    background-color: gray;
}

p {
    width: 200px;
}

img {
    margin-top: 20px;
}